<!DOCTYPE html>
<html>
<head>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/main.js"></script>
<Link rel = "StyleSheet" href = "css/style.css" type = "text / css" />
</head>
<body>
    <input id="target" type="text" name="" placeholder="type here"><br>
    <div class="slidecontainer">

		<label for="range">Option 1</label>
		<input type="range" min="1" max="10" value="5" class="slider" id="range1"> 

		<label for="range">Option 1</label>
		<input type="range" min="1" max="10" value="5" class="slider" id="range2">

		<label for="range">Option 1</label>
		<input type="range" min="1" max="10" value="5" class="slider" id="range3">

		<label for="range">Option 1</label>
		<input type="range" min="1" max="10" value="5" class="slider" id="range4">

		<label for="range">Option 1</label>
		<input type="range" min="1" max="10" value="5" class="slider" id="range5">

	</div>
	<div class="container">
		<div class="videofond">
		</div>
		<div class="fontlarge">
			<canvas id="myCanvas"></canvas>
		</div>
	</div>
	<div class="commandplayer">
		
	</div>

	<div id="export">
		<div id="img">
			EXPORT IMG
		</div>
		<div id="sqimg">
			EXPORT SEQUENCE
		</div>
	</div>
	<!--canvas id="myCanvas" resize width="800" height="600"></canvas-->
</body>
</html>

