
body{
	overflow:hidden;
}

input[type="text"], select {
	width: 170px;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid transparent;
	border-radius: 4px;
	box-sizing: border-box;
	position: absolute;
	top: 20px;
	left: 20px;
	background-color: lightgray;
}

#other{
	cursor: pointer;	
}

.slidecontainer {
	width: 170px;
	position: absolute;
	left: 20px;
	top: 250px;
	z-index: 1;
}
.slidecontainer label{

    font-size: 11px;
    margin-top: 20px;
}

.container{

}

.videofond{
	width: 100%;
	height: 500px;
	opacity: 0.5;
	margin-top: 70px;
	/*a enlever*/
	background-color: lightblue;
}

.fontlarge{
	position: absolute;
	top: 95px;
	width: 100%;
}

.commandplayer{
	position: absolute;
	top: 20px;
	right: 20px;
	/*a enlever*/
	height: 30px;
	width: 100px;
	background-color: red;
}

#export{
	position: absolute;
	left:20px;
	bottom: 20px;
	font-size: 10px;
}
#img, #sqimg{
	width:100px;
	height: 20px;
	background-color: lightgreen;display: inline;
	margin-right: 20px;
	cursor: pointer;
}